<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
  </welcome-file-list>



  <servlet>
    <servlet-name>ServletProcessing</servlet-name>
    <servlet-class>ServletProcessing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProcessing</servlet-name>
    <url-pattern>/processing</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletCreateTable</servlet-name>
    <servlet-class>ServletCreateTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreateTable</servlet-name>
    <url-pattern>/createtable</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletCreateDB</servlet-name>
    <servlet-class>ServletCreateDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreateDB</servlet-name>
    <url-pattern>/createdb</url-pattern>
  </servlet-mapping>

  ServletCreateDB


</web-app>
